<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin1.gymtracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".browsers.WorkoutBrowse">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MemberEntry" />
        <activity
            android:name=".browsers.ExerciseBrowse"
            android:label="@string/title_activity_exercise_browse" />
        <activity android:name=".activities.ExerciseEntry" />
        <activity
            android:name=".browsers.ObjectiveBrowse"
            android:label="@string/title_activity_objective_browse" />
        <activity android:name=".activities.ObjectiveEntry" />
        <activity
            android:name=".browsers.MemberBrowse"
            android:label="@string/title_activity_member_browse" />
        <activity android:name=".activities.WorkoutHeadEntry" />
        <activity
            android:name=".browsers.ExerciseObjectiveBrowse"
            android:label="@string/title_activity_workout_setup_browse" />
        <activity android:name=".activities.WorkoutLineEntry"></activity>
    </application>

</manifest>